<h1>Listing cars_products</h1>

<table>
  <tr>
    <th>Car</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars_products.each do |cars_product| %>
  <tr>
    <td><%= cars_product.car_id %></td>
    <td><%= cars_product.product_id %></td>
    <td><%= link_to 'Show', cars_product %></td>
    <td><%= link_to 'Edit', edit_cars_product_path(cars_product) %></td>
    <td><%= link_to 'Destroy', cars_product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cars product', new_cars_product_path %>
