<%= form_for(@make) do |f| %>
  <% if @make.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@make.errors.count, "error") %> prohibited this make from being saved:</h2>

      <ul>
      <% @make.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :autofocus=>"autofocus"  %>
  </div>
    <div class="field">
	  <%= f.label :image %><br />
	
	  <%= f.file_field :image %><br />
	  <% if !@make.image.url(:thumb).nil? %>
	  	<%= image_tag @make.image.url(:thumb).to_s %>
	  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
