<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @make.name %>
</p>

<p>
<%= image_tag @make.image.url(:thumb).to_s %>
</p>

<%= link_to 'Edit', edit_make_path(@make) %> |
<%= link_to 'Back', makes_path %>
