<div class="span-8">
	<p>Welcome to the ADC App Dashboard. This interface powers the ADC ipad and iphone apps in REAL-TIME. Please be aware of this and know that information goes live to all users immediately. To get started, please follow the instructions below. If you have any questions/problems, please email <a href="mailto:sottenad@gmail.com">Steve Ottenad</a> with any relevant data</p>
	
	<h2>Creating Cars</h2>
	<ol>
		<li>Create Model Years <%= link_to 'Here', years_path %></li>
		<li>Create Makes <%= link_to 'Here', makes_path %></li>
		<li>Create Models <%= link_to 'Here', cars_path %></li>
	</ol>
	<h2>Creating Products</h2>
	<ol>
		<li>Create Categories <%= link_to 'Here', categories_path %></li>
		<li>Create Manufacturers <%= link_to 'Here', manufacturers_path %></li>
		<li>Create Products and assign them to cars <%= link_to 'Here', products_path %></li>
	</ol>
</div>