<p id="notice"><%= notice %></p>

<p>
  <b>Vehicle:</b>
  <%= @order.car.model %>
</p>

<p>
  <b>Product ids:</b>

  <% @order.products.each do |o| %>
  	<%= o.name %>,	
  <% end %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
