<div class="span3"></div>
<div class="well span5 center">

	<div class="logo">
	<%= image_tag("logo-small.png", :alt => "ADC Dashboard") %>
	</div>
	
	<div class="form-horizontal">
	<%= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name), :remote => true, :format => :json) do |f| %>
	  <div class="control-group">
		  <%= f.label :login, :class=>"control-label" %>
		  <div class="controls">
			  <%= f.text_field :login %>
		  </div>
	  </div>
	
	  <div class="control-group">
		  <%= f.label :password, :class=>"control-label" %>
		  <div class="controls">
			  <%= f.password_field :password %>
		  </div>
	  </div>
	
	  <% if devise_mapping.rememberable? -%>
	  <div class="control-group">
	  	<%= f.label :remember_me, :class=>"control-label" %>
	    <div class="controls">
	    	<%= f.check_box :remember_me %> 
	    </div>
	  </div>
	  <% end -%>
	
	  <div class="control-group">
	  	<div class="controls">
	  		<%= f.button "Sign in" %>
	  	</div>
	  </div>
	<% end %>
	<hr />
	<%= render "devise/shared/links" %>
	</div>
</div>
<div class="span4"></div>