<h1>Cars <%= link_to 'New Car', new_car_path, :class=>"btn btn-primary" %></h1>

<table class="table table-hover table-bordered">
  <tr>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Trim</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><% if(!car.year.year.nil?) %>
    		<%= car.year.year %>
    	<% end %>
    </td>
    <td><%= car.make.name %></td>
    <td><%= car.model %></td>
    <td><%= car.trim %></td>

    <td width="5%"><%= link_to 'Show', car %></td>
    <td width="5%"><%= link_to 'Edit', edit_car_path(car) %></td>
    <td width="5%"><%= link_to 'Destroy', car, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


