<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>Trim:</b>
  <%= @car.trim %>
</p>

<p>
  <b>Make:</b>
  <%= @car.make.name %>
</p>
<p>
  <b>Image:</b>
  <% if(!@car.image_url.nil?) %>
  <%= image_tag @car.image_url(:thumb).to_s %>
  <% end %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
