<%= form_for((@product), :html => {:multipart => true}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="span7">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.select :category_id, nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" } %>
  </div>
  <div class="field">
    <%= f.label :manufacturer_id %><br />
    <%= f.collection_select :manufacturer_id, Manufacturer.all,:id,:name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :partsnumber %><br />
    <%= f.text_field :partsnumber %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
    <div class="field">
      <%= f.label :image %><br />

      <%= f.file_field :image %><br />
      <% if !@product.image_url(:thumb).nil? %>
      	<%= image_tag @product.image_url(:thumb).to_s %>
      <% end %>
    </div>
  <div class="field">
    <label>Youtube Embed Code
    <%= f.text_area :youtube_code,:rows=>5 %>
  </div>
  </div>


  <div class="span4">
      <div class="field">
        <%= f.label :car_ids %><br />
        <ul id="years">
          <% for year in Year.all() %>
            <li>
              <%= check_box_tag "", year.id, @product.yearChecked(year.id)%>
              <span class="collapsed title"><%= year.year %></span>


                <ul id="makes">
                <% for make in Make.all() %>

                    <% if (make.hasCarsWithYear(year.id, make.id)) %>
                        <li>
                            <%= check_box_tag "", make.id, @product.childrenChecked(make.id, year.id)%>
                            <span class="collapsed title"><%= make.name %></span>
                              <ul>
                                <% for car in Car.where(:make_id => make.id.to_s(), :year_id => year.id ) %>
                                <li>
                                  <%= check_box_tag "product[car_ids][]", car.id, @product.cars.include?(car)%>
                                  <%= car.model %>
                                </li>
                                <% end %>
                              </ul>
                        </li>
                    <%end%>
                <% end %>
                </ul>
            </li>
           <%end%>
        </ul>
      </div>
    <div class="form-actions">
      <%= f.submit :class=>"btn btn-primary" %>
      <%= link_to 'Cancel', products_path, :class=>"btn" %>
    </div>

  </div>


<% end %>
