<%= form_for(@year) do |f| %>
  <% if @year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@year.errors.count, "error") %> prohibited this year from being saved:</h2>

      <ul>
      <% @year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year, :autofocus=>"autofocus" %>
  </div>
  <div class="field">
	  <%= f.label :image %><br />
	
	  <%= f.file_field :image %><br />
	  <% if !@year.image.url(:thumb).nil? %>
	  	<%= image_tag @year.image.url(:thumb).to_s %>
	  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
