<h1>Model Years <%= link_to 'New Year', new_year_path, :class=>"btn btn-primary"  %></h1>

<table class="table table-hover table-bordered tablesorter">
  <thead>
  <tr>
    <th>Year</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @years.each do |year| %>
  <tr>
    <td width="40%"><%= year.year %></td>
    <% if !year.image.url(:thumb).nil? %>
    <td width="40%"><%= image_tag year.image.url(:thumb).to_s %></td>
    <%end%>

    <td><%= link_to 'Show', year %></td>
    <td><%= link_to 'Edit', edit_year_path(year) %></td>
    <td><%= link_to 'Destroy', year, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />


