<h1>Listing manufacturers <%= link_to 'New Manufacturer', new_manufacturer_path, :class=>"btn btn-primary" %></h1>

<table class="table table-hover table-bordered tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @manufacturers.each do |manufacturer| %>
  <tr>
    <td width="80%"><%= manufacturer.name %></td>
    <td><%= link_to 'Show', manufacturer %></td>
    <td><%= link_to 'Edit', edit_manufacturer_path(manufacturer) %></td>
    <td><%= link_to 'Destroy', manufacturer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />


