<!DOCTYPE html>
<html>
<head>
  <title>ADC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="./">Bootstrap</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
            <a href="/">Home</a>
          </li>
          <% if signed_in? %>
          <li class="">
            <a href="/years">Years</a>
          </li>
          <li class="">
            <a href="/cars">Cars</a>
          </li>
          <li class="">
            <a href="/makes">Makes</a>
          </li>
          <li class="">
            <a href="/categories">Categories</a>
          </li>
          <li class="">
            <a href="/products">Products</a>
          </li>
          <li class="">
            <a href="/api">api</a>
          </li>
          <% end %>
        </ul>
      </div>

      <% if signed_in? %>
          <div class="pull-right">
            <div class="nav-collapse collapse">
                <ul class="nav">
                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                </ul>
            </div>
          </div>
      <% else %>
          <div class="pull-right">
            <div class="nav-collapse collapse">
                <ul class="nav">
                  <%= link_to "Sign in", new_user_session_path %>
                </ul>
            </div>
          </div>
      <% end %>
    </div>

  </div>
</div>



<div class="container">
<p class="notice"><%= notice %></p>
<%= yield %>
</div>
</body>
</html>
