<!DOCTYPE html>
<html>
<head>
  <title>ADC</title>
  
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script>
  	$(function(){
	  	var myTable = $('.tablesorter');
	  	if(myTable.length >0){
		  	myTable.tablesorter();
	  	}
  	})
  </script>
</head>
<body>
<% if controller_name != 'sessions' %>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="./">ADC</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
            <a href="/">Home</a>
          </li>
          <% if signed_in? %>
          <li class="">
            <a href="/years">Years</a>
          </li>
          <li class="">
            <a href="/cars">Cars</a>
          </li>
          <li class="">
            <a href="/makes">Makes</a>
          </li>
          <li class="">
            <a href="/categories">Categories</a>
          </li>
          <li class="">
            <a href="/products">Products</a>
          </li>
          <li class="">
            <a href="/manufacturers">Manufacturers</a>
          </li>
          <li class="">
            <a href="/api">api</a>
          </li>
          <% end %>
        </ul>
      </div>

      <% if signed_in? %>
          <div class="pull-right">
            <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="dropdown">
                  	<% if !current_user.username.nil? %>
                  	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><b class="caret"></b></a>
                  	<% elsif  !current_user.email.nil? %>
                  	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
                  	<% end %>
                  	<ul class="dropdown-menu">
                  		<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                  		<li><%= link_to "Users", users_path %></li>
                  	</ul>
                  </li>
                </ul>
            </div>
          </div>
      <% else %>
          <div class="pull-right">
            <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><%= link_to "Sign in", new_user_session_path %></li>
                </ul>
            </div>
          </div>
      <% end %>
    </div>

  </div>
</div>

<% end %>

<div class="container">
<p class="notice"><%= notice %></p>
<%= yield %>
</div>
</body>
</html>
